*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 100vh;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    font-family: 'Righteous', cursive;
    background-image: url(italy-1614931_1920.jpg);
    background-size: 100% 100%;
    color: #fff;
}
.layer
{
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.couch
{
    font-size: 40px;
    font-family: 'Exo 2', sans-serif;
}
.location , .tempaurature
{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

.tempaurature
{
    flex-direction: column;
}
.section-degree
{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.section-degree span
{
    margin: 10px;
    font-size: 30px;
}
.section-degree h2
{
    font-size: 40px;
}
